@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #ffffff;
  --black: #080808;
  --orange: #ffa500;
  --green: #006400;
  --salmon: #d88181;
  --purple: #6401b5;
}
h1, h2, h3, p, label {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  margin: 0;
  font-family: 'Montserrat', sans-serif,
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh auto 10vh;
}

/* about  */

.about {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about .portrait {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .description {
  width: 35vw;
}

.about .img {
  border-radius: 20px;
  border: 12px solid var(--black);
  object-fit: cover;
  width: 50vw;
  margin-bottom: 20px;
}

.greeting {
  text-transform: uppercase;
  font-size: 3em;
}

/* nav  */

.nav-container {
  display: flex;
  background: var(--black);
  color: var(--white);
}

.nav-initials {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-initials h1 {
  text-transform: uppercase;
  font-size: 63px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.nav-list .list-item {
  list-style-type: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.nav-list .list-item:last-child {
  padding: 0 40px 0 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.nav-list .nav-link:hover {
  background-color: var(--salmon);
}

.nav-list .nav-link {
  transition: background-color 1s ease-out 150ms;
}

.list-item:hover>a {
  color: var(--black);
}

.list-item a {
  transition: color 1s ease-out 150ms;
}

.nav-link {
  display: flex;
  text-decoration: none;
  color: var(--white);
  height: 100%;
  align-items: center;
}

  /* resume */

.skills p {
  text-align: left;
  font-size: 18px;
}

.resume-columns {
  display: flex;
  margin-bottom: 24px;
}

.resume-columns .skills {
  width: 40vw;
}

.resume-columns .education {
  width: 40vw;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
}

.skills .job-title {
  font-size: 1.7em;
}

.resume .school-year, .school-degree, .school-location {
  margin: 0;
  text-transform: uppercase;
}

.resume .school {
  margin: 2em;
}

.resume .school-location {
  font-size: 1em;
  font-weight: 100;
  margin: .4em;
}

.resume .school-degree {
  font-size: 1.6em;
  font-weight: 500;
}

.resume .job-title, .job-company, .job-time {
  margin: 0;
}

.resume .job-title {
  margin: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.resume .job-time {
  font-size: 24px;
  text-transform: uppercase;
}

.resume .job-company {
  font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.resume .job-location {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 18px;
}

.job-card {
  display: flex;
  justify-content: space-around;
  margin: 18px 0;
}

.job-card .job-info-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-card .job-info-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  /* form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  padding: 25px;
  width: 37vw;
  height: 50vh;
  color: white;
  background: black;
  min-height: 500px;
}

.form>h1 {
  text-transform: uppercase;
  text-align: center;
}

.form-control {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.form-control>label {
  font-weight: bold;
  font-size: 1.5em;
}

.form-control>input {
  width: 65%;
}

.form-control:nth-child(3){
  display: flex;
  flex-direction: column!important;
  align-items: flex-start;
}

.form-control:nth-child(3) > label {
  margin: 0 0 7px 0;
}

#message {
  height: 200px;
  width: 100%;
}
fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.form-element>div {
  margin: 5px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn>input {
  width: 43%;
  height: 36px;
}

.btn-primary {
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  border: 1px solid var(--white);
}

.btn-primary:hover {
  background-color: var(--salmon);
  color: var(--black);
  border-radius: 5px;
  border: 1px solid var(--white);
}
.btn-secondary {
  background-color: var(--salmon);
  color: var(--black);
  border-radius: 5px;
  border: 1px solid var(--white);
}
.btn-secondary:hover {
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--salmon);
}

/* projects  */

.project-container {
  width: 80vw;
}

.project h2 {
  font-size: 2.6em;
}

.project .project-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project .img {
  width: 400px;
  margin: 20px;
}

.project-container a {
  color: var(--purple);
}

@media screen and (max-width: 900px) {
 
  /* nav */

  .nav-list .list-item a {
    font-size: 12px;
  }

  .nav-list .list-item {
    padding: 0 6px;
  }
  .nav-list .list-item:last-child {
    padding: 0 12px 0 6px;
  }

  .nav-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }

  /* about  */

  .about {
    flex-direction: column;
  }

  .about .img {
    border-radius: 20px;
    border: 12px solid var(--black);
    object-fit: cover;
    width: 60vw;
    margin-bottom: 20px;
  }

  .about .description {
    width: 80vw;
  }
  /* jobs  */

  .resume .resume-columns {
    flex-direction: column;
  }

  .resume .resume-columns .education, .resume-columns .skills, .skills-list {
    width: 80vw;
  }

  .jobs {
    width: 80vw;
  }

  .jobs .job-card {
    flex-direction: column;
    align-items: center;
  }

  .job-card .job-info-left, .job-card .job-info-right {
    width: 100%!important;
  }

  /* form */

  .form {
    width: 80vw;
  }

  .form .btn {
    margin-top: 24px;
  }

  /* projects  */

  .project .project-img {
    flex-direction: column;
  }
}